<div id="bg">
  <img src="/assets/home_full.jpg" alt="">
</div>
<div class="container">
  <div class="row">
    <div id="test" class="col-md-4">
      <h1>We are the diggers</h1>
      <h2>keep history alive... together !</h2>
      <% if user_signed_in? %>
      <p>hello <%= current_user.email %></p>
      <% else %>
      <%= link_to "Sign in", new_user_session_path, class: "btn btn-default" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary" %>
      <% end %>
    </div>

    </div>
  </div>
</div>