<div id="bg">
  <img src="/assets/home_full.jpg" alt="">
</div>
<div class="container">
  <div class="row">
    <div id="test" class="col-md-4">
      <h1>We are the diggers</h1>
      <h2>keep history alive... together !</h2>
      <button type="button" class="btn btn-default">Sign in</button>
      <button type="button" class="btn btn-primary">Log in</button>
      <p><span class="label label-danger">Label</span></p>
    </div>

    </div>
  </div>
</div>