<div id="bg">
  <img src="/assets/home_full.jpg" alt="">
</div>
<div class="container">
  <div class="row">
    <div id="test" class="col-md-4">
      <h4>keep history alive... together !</h4>
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-default" %>
      <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
    </div>

    </div>
  </div>
</div>