<h1>Soldiers#index</h1>


<%= render partial: 'shared/search_form' %>

<%#######################################################%>


<div id="soldiers-search-results">

    <%= render @soldiers %>

</div>
