<h1>Soldiers#index</h1>


<%= render partial: 'shared/search_form' %>

<%#######################################################%>


<div id="soldiers-search-results">


      <%= render @soldiers %>
      <%= "Sorry, there are no matching elements." unless @soldiers.any? %>

</div>
