<div class="blue-bg">
  <div class="container">

<%= render 'shared/search_form', form_url: search_soldiers_path, remote: true %>

      <div class="row">

          <div class="row-fluid soldiers-grid">
              <%= render @soldiers %>
              <%= "Sorry, there are no matching elements." unless @soldiers.any? %>
          </div>
        </div>
        <%= will_paginate @soldiers %>


  </div> <!-- /CONTAINER-FLUID -->
</div><!-- /blue bG -->

