<h1>Soldiers#index</h1>


<%= render 'shared/search_form', form_url: search_soldiers_path, remote: false %>

<%#######################################################%>


<div id="soldiers-search-results">


      <%= render @soldiers %>
      <%= "Sorry, there are no matching elements." unless @soldiers.any? %>

</div>
