
<% ###### For Soldier#index view %>

$('#soldiers-index-search-results').html('<%= j render @soldiers %>');

if ($('#soldiers-index-search-results').html() == "") {
  $('#soldiers-index-search-results').html('<p>Sorry, there are no matching elements.</p>');
} else {
    $('#soldiers-index-search-results');
}


<% ###### For Picture#show view %>


$('#soldiers-search-for-indentification').html('<%= j render ########## %>');

if ($('#soldiers-search-for-indentification').html() == "") {
  $('#soldiers-search-for-indentification').html('<p>Sorry, there are no matching elements.</p>');
} else {
    $('#soldiers-search-for-indentification');
}