/*// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/

.logo{
  margin: 1em;
}


#baseline {
  position: relative;
  bottom: 10%;
  left: 50%;
  z-index: 10;
}


.page1{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(https://s3-eu-west-1.amazonaws.com/thuillier-collection/img/Lost-BG-mosaique-share-naked-2000x1500.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page2{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(https://s3-eu-west-1.amazonaws.com/thuillier-collection/img/Lost-BG-mosaique-explore-naked-2000x1500px.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page3{
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(https://s3-eu-west-1.amazonaws.com/thuillier-collection/img/Lost-BG-mosaique-contribute-naked-2000x1500px.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.page-container {
min-height: 1000px;
}

.pagination {
  background: transparent;

  text-align: center;
  padding: 1em;
  cursor: default; }
.pagination a, .pagination span {
  padding: 0.2em 0.3em; }
.pagination .disabled {
  color: #aaaaaa; }
.pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #4da5a1;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.pagination a {
  text-decoration: none;
  color: #234D4B;
}

  .pagination a:hover, .pagination a:focus {
    text-decoration: underline; }


