// Place all the styles related to the pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#picture-wraper{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#desc-box {
color: white;
background-color: rgba(0, 0, 0, 0.5);
padding: 10px;
float: none;

}

#picture-box {
height: 100%;
}

.back-btn {
position: absolute;
z-index: 10;
right: 35px;
top: 120px;
}


.favorites-btn {
position: absolute;
z-index: 10;
right: 35px;
top: 170px;
}

.sidebar-tag-filter{
  color: #fff;
  margin-left: 15px;
}

#button-open-sidebar{
position: absolute;
top: 10px;
right: 0px;
z-index: 200;
}

.picture-box{
  width: 300px;
}