#soldier {
  background-color: rgba(0,39,59,.35);
  color: #fff;
  padding:1em;
  min-height: 300px;
}

.soldier-grid {
  padding:0.7em;
}

.soldier-detail {
  padding-left: 1.5em;
  color: #fff;
}

.soldier-card{
  background-color: rgba(0,39,59,.35);
  color: black;
  width: 250px;
  margin: 5px;
}