#soldier {
  background-color: rgba(0,39,59,.35);
  color: #fff;
  padding:1em;
  min-height: 300px;
}

.soldier-grid {
  padding:0.7em;
}

.soldier-detail {
  padding-left: 1.5em;
  color: #fff;
}

.soldier-card{
  min-height: 300px;
  width: 250px;
  margin: 5px;
}

.soldier-rank{
  text-transform: uppercase;
  color: #154d4b;
  font-weight: bold;
}

.soldier-name{
  text-transform: capitalize;
  color: #154d4b;
}

.blue-bg{
  background-color: #3ceee8;
  margin-top: 100px;
}

.soldier-picture{
  width: 150px;
  margin: 0 auto;
}