<%= form_tag search_soldiers_path, :method => :get, :remote => true, class: 'soldier-search-form'  do %>
<h2>Search pictures</h2>
<div>
</div>
<div>
  <%= select_tag name, options_for_select(@users.collect{ |u| [u.name, u.id] }), options = { :multiple}  %>
</div>
</div>

<%= submit_tag "Search" %>

<% end %>
