<%= form_tag search_pictures_path, :method => :get, :remote => false, class: 'tag-search-form'  do %>
<h2>Search pictures</h2>
<div>

  <%= p params[:tags] %>

</div>
<div>
  <%= select_tag :tags,
    options_from_collection_for_select(ActsAsTaggableOn::Tag.all, :name, :name),
    include_blank: true,
    :multiple => true,
    class: 'chosen-select'
  %>
</div>

<%= submit_tag "Search" %>

<% end %>
