<%= form_tag search_pictures_path, :method => :get, :remote => false, class: 'tag-search-form'  do %>
<h2>Search pictures</h2>
<div>
</div>
<div>
  <%= select_tag "name", option_tags = nil, options: :multiple  %>
</div>
  <%= autocomplete_field_tag :tags, '', autocomplete_tags_pictures_path,
  'data-delimiter' => ',', :multiple => true %>

<%= submit_tag "Search" %>

<% end %>
