<div id="st-container" class="st-container">
  <!--
    example menus
    these menus will be on top of the push wrapper
  -->

  <nav class="st-menu st-effect-4" id="menu-4">
    <form role="search" class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" placeholder="Search" class="form-control">
      </div>
      <button class="btn btn-default" type="submit">Submit</button>
    </form>
    <button id="filter-button" class="btn btn-warning">Filter</button>
  </nav>
  <!-- content push wrapper -->
  <div class="st-pusher">
      <div class="st-content"><!-- this is the wrapper for the content -->
        <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
          <div class="main clearfix">
            <div id="st-trigger-effects" class="column">
              <button class="btn btn-warning" data-effect="st-effect-4">Filter Results</button>
            </div>
        <!-- <div class="transitions-enabled infinite-scroll clearfix"> -->
            <ul class="grid effect-4 transitions-enabled" id="grid">
              <%= render @pictures %>
            </ul>
            <%= will_paginate @all_pictures %>
          </div><!-- /main -->
        </div><!-- /st-content-inner -->
      </div><!-- /st-content -->
  </div><!-- /st-pusher -->
</div><!-- /st-container -->


<script>

</script>

<script src="assets/classie.js"></script>
<script src="assets/sidebarEffects.js"></script>