<div id="st-container" class="st-container">
  <!--
    example menus
    these menus will be on top of the push wrapper
  -->

  <nav class="st-menu st-effect-4" id="menu-4">
    <div class="todo">
      <div class="todo-search">
        <input class="todo-search-field" type="search" value="" placeholder="Search">
      </div>
      <ul>
        <li class="todo-done">
          <div class="todo-icon fui-user"></div>
          <div class="todo-content">
            <h4 class="todo-name">
              Meet <strong>Adrian</strong> at <strong>6pm</strong>
            </h4>
            Times Square
          </div>
        </li>
        <li class="">
          <div class="todo-icon fui-list"></div>
          <div class="todo-content">
            <h4 class="todo-name">
              Chat with <strong>V.Kudinov</strong>
            </h4>
            Skype conference an 9 am
          </div>
        </li>
        <li class="">
          <div class="todo-icon fui-eye"></div>
          <div class="todo-content">
            <h4 class="todo-name">
              Watch <strong>Iron Man</strong>
            </h4>
            1998 Broadway
          </div>
        </li>
        <li class="">
          <div class="todo-icon fui-time"></div>
          <div class="todo-content">
            <h4 class="todo-name">
              Fix bug on a <strong>Website</strong>
            </h4>
            As soon as possible
          </div>
        </li>
      </ul>
    </div>
    <button class="btn btn-warning">Filter</button>
  </nav>
  <!-- content push wrapper -->
  <div class="st-pusher">
      <div class="st-content"><!-- this is the wrapper for the content -->
        <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
          <div class="main clearfix">
            <div id="st-trigger-effects" class="column">

              <button class="btn btn-warning" data-effect="st-effect-4">Filter Results</button>

            </div>

        <!-- <div class="transitions-enabled infinite-scroll clearfix"> -->

            <div id="pictures">
              <ul class="grid effect-4" id="grid">
                <%= render @pictures %>
              </ul>
            </div>
            <%= will_paginate @pictures %>

          </div><!-- /main -->
        </div><!-- /st-content-inner -->
      </div><!-- /st-content -->
  </div><!-- /st-pusher -->
</div><!-- /st-container -->
<script>
  new AnimOnScroll( document.getElementById( 'grid' ), {
    minDuration : 0.4,
    maxDuration : 0.7,
    viewportFactor : 0.2
  } );
</script>
<script src="assets/classie.js"></script>
<script src="assets/sidebarEffects.js"></script>