<div id="st-container" class="st-container">
  <!--
    example menus
    these menus will be on top of the push wrapper
  -->

  <nav class="st-menu st-effect-4" id="menu-4">

    <button class="btn btn-warning">Filter</button>
  </nav>
  <!-- content push wrapper -->
  <div class="st-pusher">
      <div class="st-content"><!-- this is the wrapper for the content -->
        <div class="st-content-inner"><!-- extra div for emulating position:fixed of the menu -->
          <div class="main clearfix">
            <div id="st-trigger-effects" class="column">
              <button id="button-open-sidebar" class="btn btn-warning" data-effect="st-effect-4">Filter Results</button>
            </div>
            <div id="pictures-grid" class="grid effect-4 transitions-enabled centered">
              <%= render @pictures %>
            </div>
            <%= will_paginate @all_pictures %>
          </div><!-- /main -->
        </div><!-- /st-content-inner -->
      </div><!-- /st-content -->
  </div><!-- /st-pusher -->
</div><!-- /st-container -->


<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'wearethediggers'; // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>