<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>We are the diggers</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="shortcut icon" href="../favicon.ico">
</head>